.wrapper{}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}

.inner{
    width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
    @include tablet{
        padding: 0 15px;
    }
}

.inner1{
    width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
    @include tablet{
        padding: 0 15px;
    }
}

.fadein{
    opacity: 0;
    transform: translateY(100px);
}

.fadein2{
    opacity: 0;
    transform: translateY(100px);
}


