/*반응형 화면 크기*/
$mobile: 767px; //320 ~ 767px
$tablet: 1024px; // 768 ~ 1024px
$desktop: 1280px; //1025 ~ 1280px
$desktop2: 1460px; //1281 ~ 1460px
$desktop3: 1760px; //1461 ~ 1760px

/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}

/*반응형, 브라우저 크기가 768이상, 1024px 이하일때*/
@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}

/*반응형, 브라우저 크기가 1025px 이상일때*/
@mixin desktop{
  @media (max-width: $desktop){
    @content;
  }
}

/*반응형, 브라우저 크기가 1281px 이상일때*/
@mixin desktop2{
  @media (max-width: $desktop2){
    @content;
  }
}

/*반응형, 브라우저 크기가 1461px 이상일때*/
@mixin desktop3{
  @media (max-width: $desktop3){
    @content;
  }
}
